.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(5, 6, 12, 0.87) 0.33%, rgba(5, 6, 12, 0) 100%);
}
.header__content {
  flex-basis: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: inline;
  width: fit-content;
}

.header__menu {
  .menu__list {
    display: flex;
  }
  .menu__list a {
    line-height: 1.5rem; /* 150% */
  }
  .menu__item {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;

    transition: all 0.1s;
  }
  .menu__item a:hover {
    color: $azure;
  }
  .menu__item--sub {
    position: relative;
    border-radius: 0.75rem;
    transition: all 0.07s;
  }
  .menu__item--sub > svg {
    width: 16px;
    height: 16px;
    transition: all 0.1s;
  }
  .menu__item--sub:hover {
    background-color: $surface-light;
  }
  .menu__item--sub:hover > a {
    color: $azure;
  }
  .menu__item--sub:hover > svg path {
    stroke: $azure;
  }
  .menu__item--sub > svg {
  }
  .menu__item--sub:hover > svg {
    transform: rotate(-90deg);
  }
  // SHOW SUBMENU
  .menu__item--sub:hover > .submenu__list {
    visibility: visible;
    opacity: 1;
  }
  .submenu__list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    // decorate space for correct hover show
    padding-top: 1.5rem;

    // HIDE SUBMENU
    opacity: 0;
    visibility: hidden;
  }
  .submenu__list-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: $border-radius;
    background-color: $surface-light;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.33);
  }
  .submenu__group-title {
    display: flex;
    padding: 1.25rem 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $stroke;
    color: $text-light-gray;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
    text-transform: uppercase;
  }
  .submenu__item {
    width: 18rem;
    padding: 1.25rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0.5rem;

    transition: all 0.1s;
  }
  .submenu__item > svg {
    opacity: 0;
    transition: all 0.1s;
  }
  .submenu__item:hover {
    background: #2e303c;
  }
  .submenu__item:hover a {
    color: $azure;
  }
  .submenu__item:hover > svg {
    opacity: 1;
  }
}

.burger {
  display: none;
}
@media (max-width: 1000px) {
  .header__menu {
    display: none;
  }

  .burger {
    display: block;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 1.5rem 1.5rem;
  }
}

// MOBILE MENU
.header.active .header__mobile-menu {
  top: 0;
  visibility: visible;
  opacity: 1;
}
.header .header__logo path {
  transition: all 0.6s;
}
.header.active .header__logo path {
  fill: #ffffffd8;
}

.strip div {
  height: 2px;
  border-radius: 2px;
  background: rgb(255, 255, 255);
  margin: 10px;
  transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 30px;
}
.strip div:nth-child(2) {
  width: 15px;
  margin-left: 25px;
}
.burger-strip div {
  /* margin: 10px auto; */
  transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header.active .burger .burger-strip div:first-child {
  transform: translateY(10px) rotate(0deg) scaleX(1.5);
}
.header.active .burger .burger-strip div:nth-child(2) {
  opacity: 0;
}
.header.active .burger .burger-strip div:last-child {
  transform: translateY(-14px) rotate(90deg) scaleX(1.5);
}
.header.active .burger .burger-strip {
  transform: scale(0.7) rotate(45deg);
  transition: all 0.5s ease 0.1s;
}

.header__mobile-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -990px;
  left: 0;
  width: 100%;
  max-height: 100vh;
  z-index: -1000;
  overflow-y: auto;
  padding: 10rem 2.5rem 7.5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/mobile-menu-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.6s;
}
.mobile-menu__content {
  max-width: 1200px;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
.mobile-menu__services {
}
.mobile-menu__services-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.mobile-menu__service {
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  padding: 1.125rem 0rem;

  border-bottom: 2px solid rgba(252, 252, 252, 0.7);
}
.mobile-menu__service a {
  font-family: $main-font-family;
  font-size: 2rem;
  line-height: 120%; /* 2.4rem */
  letter-spacing: -0.032rem;
}
.mobile-menu__nav {
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
}
.mobile-menu__item a {
  font-size: 1.25rem;
}
.external-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 880px) {
  .header__mobile-menu {
    padding:8.75rem 2.5rem 4rem 2.5rem;
  }
  .mobile-menu__content {
    flex-direction: column;
    gap: 4rem;
  }
  .mobile-menu__nav {
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: wrap;
  }
  .mobile-menu__list {
    align-items: flex-start;
  }
}
@media (max-width: 480px) {
  .header__mobile-menu {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu__services-list {
    gap: 1.5rem;
  }
  .mobile-menu__service a {
    font-size: 1.75rem;
  }
  .mobile-menu__nav {
    gap: 4rem;
    flex-direction: column;
    align-items: flex-end;
  }
  .mobile-menu__list {
    align-items: flex-end;
  }
}
