---

---

<div class="block md:hidden">
  <div class="strip burger-strip">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <slot />
  </div>
</div>

<style>
@media (max-width: 480px) {
  .header {
    padding: 1.5rem 1.5rem;
  }
}
</style>
