---
import Nav from "./Nav.astro";
import MobileMenu from "./MobileMenu.astro";
import Burger from "./Burger.astro";
---
<header class="header py-6 sm:py-0">
  <div class="container mx-auto">
	<div class="basis-full max-w-[1440px] flex justify-between">
	  <div class="inline w-fit">
	  </div>
	  <Nav />
	  <Burger>
		<MobileMenu />
	  </Burger>
	</div>
  </div>
</header>

<style lang="scss">
@import "../../scss/vars";

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(5, 6, 12, 0.87) 0.33%, rgba(5, 6, 12, 0) 100%);
}
</style>
