---
import Icon from "./Icon.astro";
import Button from "./Button.astro";
---

<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="148"
          height="39"
          viewBox="0 0 148 39"
          fill="none"
        >
          <g clip-path="url(#clip0_1118_8134)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M63.6877 10.8807L32.899 6.12311V0.201904L63.6877 5.76024V10.8807Z"
              fill="#5151BC"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M63.6877 20.2682L32.899 16.5112V11.213L63.6877 15.5824V20.2682Z"
              fill="#5151BC"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M63.6877 29.7765L32.899 27.805V22.2219L63.6877 24.9916V29.7765Z"
              fill="#5151BC"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M32.899 39V33.2358L63.6877 34.456V39H32.899Z"
              fill="#5151BC"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.206543 20.2682L19.2392 17.9458L19.2391 12.8813L0.206543 15.5824V20.2682Z"
              fill="#3A3A87"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.206578 29.7766L19.239 28.5578L19.2393 23.2795L0.206543 24.9917L0.206578 29.7766Z"
              fill="#3A3A87"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M19.2393 39V33.7018L0.206543 34.456V39H19.2393Z"
              fill="#3A3A87"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M79.6397 21.7377H77.5722V7.60307H71.1662V21.7377H69.1101V5.88643H79.6397V21.7377ZM91.1398 14.4252H85.3514V20.0211H92.095V21.7377H83.2954V5.88643H91.9838V7.60307H85.3514V12.7085H91.1398V14.4252ZM96.7749 15.5398V21.7377H94.7188V5.88643H99.9357C101.455 5.88643 102.651 6.32863 103.518 7.20923C104.389 8.09359 104.823 9.26772 104.823 10.7354C104.823 12.2589 104.408 13.4368 103.58 14.2579C102.751 15.0828 101.585 15.5102 100.081 15.5398H96.7749ZM96.7749 13.8232H99.9357C100.849 13.8232 101.551 13.5594 102.038 13.028C102.521 12.4967 102.767 11.7387 102.767 10.7503C102.767 9.79908 102.517 9.03734 102.015 8.46513C101.512 7.88923 100.822 7.60307 99.9472 7.60307H96.7749V13.8232ZM107.477 21.7377V5.88643H112.142C113.63 5.88643 114.754 6.23941 115.506 6.94543C116.261 7.6477 116.637 8.70664 116.637 10.1186C116.637 10.8581 116.446 11.5121 116.062 12.0805C115.682 12.6491 115.164 13.0875 114.512 13.3996C115.26 13.6151 115.855 14.061 116.292 14.7373C116.733 15.4098 116.952 16.2236 116.952 17.1711C116.952 18.5942 116.549 19.7089 115.744 20.5189C114.938 21.3327 113.787 21.7377 112.299 21.7377H107.477ZM109.533 14.3582V20.0211H112.345C113.124 20.0211 113.741 19.7758 114.198 19.2816C114.654 18.7874 114.884 18.0926 114.884 17.2008C114.884 15.3058 114.052 14.3582 112.387 14.3582H109.533ZM109.533 12.6416H112.176C112.886 12.6416 113.461 12.4112 113.899 11.9468C114.34 11.4823 114.558 10.8655 114.558 10.0963C114.558 9.22314 114.359 8.59146 113.96 8.19764C113.565 7.80001 112.959 7.60307 112.142 7.60307H109.533V12.6416ZM122.192 12.3518H125.498C126.968 12.3592 128.114 12.7754 128.947 13.6003C129.779 14.4214 130.194 15.5585 130.194 17.0001C130.194 18.453 129.772 19.6049 128.932 20.4595C128.088 21.3104 126.921 21.7377 125.429 21.7377H120.136V5.88643H122.192V12.3518ZM133.688 21.7377H131.632V5.88643H133.688V21.7377ZM122.192 14.0685V20.0211H125.475C126.315 20.0211 126.964 19.7424 127.432 19.1813C127.896 18.624 128.126 17.8882 128.126 16.9741C128.126 16.0749 127.896 15.3653 127.435 14.845C126.975 14.3286 126.323 14.0685 125.487 14.0685H122.192ZM145.944 5.88643H148V21.7377H145.944V9.52413L139.569 21.7377H137.501V5.88643H139.569V18.1L145.944 5.88643ZM146.159 1.91803C146.159 2.80238 145.848 3.51582 145.23 4.05459C144.613 4.59336 143.8 4.86091 142.798 4.86091C141.793 4.86091 140.98 4.58963 140.359 4.04717C139.737 3.5084 139.427 2.79497 139.427 1.91803H141.122C141.122 2.42711 141.264 2.82467 141.548 3.11452C141.836 3.40062 142.25 3.54551 142.798 3.54551C143.32 3.54551 143.731 3.40434 144.026 3.11825C144.325 2.83582 144.471 2.43453 144.471 1.91803H146.159Z"
              fill="#F9F9F9"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M76.8964 35.3631H78.154L78.1414 39H76.7935V36.4744H70.4705V39H69.1176L69.1101 35.3631H69.8957C70.2397 34.9446 70.5208 34.3168 70.7391 33.4749C70.9575 32.6354 71.0956 31.6949 71.1533 30.6582L71.3591 26.2131H76.8964V35.3631ZM71.3315 35.3631H75.5435V27.3244H72.6694L72.5138 30.6366C72.4561 31.7214 72.3205 32.6571 72.1097 33.4436C71.8988 34.2302 71.6403 34.87 71.3315 35.3631ZM84.9137 33.79H81.2966L80.4658 36.4744H79.0827L82.5316 26.2131H83.6862L87.1426 36.4744H85.7596L84.9137 33.79ZM81.6481 32.6787H84.5698L83.1064 28.0172L81.6481 32.6787ZM93.9073 27.3244H91.091V36.4744H89.7456V27.3244H86.9368V26.2131H93.9073V27.3244ZM99.9014 33.79H96.2844L95.4536 36.4744H94.0705L97.5194 26.2131H98.674L102.13 36.4744H100.747L99.9014 33.79ZM96.6359 32.6787H99.5576L98.0942 28.0172L96.6359 32.6787ZM105.815 32.6499H102.778V31.5819H105.815V32.6499ZM107.387 26.2131H108.74V35.3631H112.924V26.2131H114.272V35.3342H115.241L115.11 38.9423H113.903V36.4744H107.387V26.2131ZM122.081 31.7406H118.293V35.3631H122.706V36.4744H116.947V26.2131H122.633V27.3244H118.293V30.6294H122.081V31.7406ZM131.433 36.4744H130.08V31.7406H125.771V36.4744H124.425V26.2131H125.771V30.6294H130.08V26.2131H131.433V36.4744ZM139.809 27.3244H136.993V36.4744H135.648V27.3244H132.839V26.2131H139.809V27.3244ZM142.734 32.4623V36.4744H141.388V26.2131H144.802C145.796 26.2131 146.579 26.4994 147.147 27.0694C147.716 27.6419 148 28.402 148 29.3521C148 30.3383 147.729 31.1008 147.187 31.6324C146.645 32.1664 145.881 32.443 144.897 32.4623H142.734ZM142.734 31.351H144.802C145.4 31.351 145.859 31.1802 146.178 30.8362C146.494 30.4923 146.655 30.0016 146.655 29.3617C146.655 28.746 146.491 28.2529 146.163 27.8824C145.834 27.5096 145.382 27.3244 144.81 27.3244H142.734V31.351Z"
              fill="#F9F9F9"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.206543 5.76024L30.9952 0.201904V39H25.1173V7.03144L0.206543 10.8807V5.76024Z"
              fill="#3A3A87"></path>
          </g>
          <defs>
            <clipPath id="clip0_1118_8134">
              <rect width="148" height="39" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <!-- Desktop Header Nav -->
      <nav class="header__menu">
        <ul class="menu__list">
          <li class="menu__item menu__item--sub">
            <a>Услуги</a>
            <Icon
              class="arrowDown"
              icon="caretDown"
              color="#ffffff"
              size="20px"
            />
            <ul class="submenu__list">
              <div class="submenu__list-wrapper">
                <div class="submenu__group-title">Дата Центр</div>
                <li class="submenu__item">
                  <a href="#">Аренда сервера</a>
                  <Icon icon="caretRight" color="#1ba7fa" size="24px" />
                </li>
                <li class="submenu__item">
                  <a href="#">Размещение сервера</a>
                  <Icon icon="caretRight" color="#1ba7fa" size="24px" />

                </li>
                <li class="submenu__item">
                  <a href="#">Покупка сервера в лизинг</a>
                  <Icon icon="caretRight" color="#1ba7fa" size="24px" />
                </li>
                <li class="submenu__item">
                  <a href="#">Обслуживание и сервис</a>
                  <Icon icon="caretRight" color="#1ba7fa" size="24px" />
                </li>
                <div class="submenu__group-title">Другие услуги</div>
                <li class="submenu__item">
                  <a href="https://remont-telecom.ru/">Ремонт оборудования</a>
                  <Icon icon="externalLink" size="24px" color="#1ba7fa"/>
                </li>
                <li class="submenu__item">
                  <a href="https://datalab74.ru/">Восстановление данных</a>
                    <Icon icon="externalLink" size="24px" color="#1ba7fa"/>
                </li>
              </div>
            </ul>
          </li>
          <li class="menu__item">
            <a href="#">О нас</a>
          </li>
          <li class="menu__item">
            <a href="">Контакты</a>
          </li>
        </ul>
      </nav>
      <!-- Mobile Header Nav -->
      <div class="burger">
        <div class="strip burger-strip">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="header__mobile-menu">
        <div class="mobile-menu__content">
          <nav class="mobile-menu__services">
            <ul class="mobile-menu__services-list">
              <li class="mobile-menu__service">
                <a href="#">Аренда сервера</a>
                <Icon icon="caretRight" color="#ffffff" size="32px" />
              </li>
              <li class="mobile-menu__service">
                <a href="#">Размещение сервера</a>
                <Icon icon="caretRight" color="#ffffff" size="32px" />
              </li>
              <li class="mobile-menu__service">
                <a href="#">Сервер в лизинг</a>
                <Icon icon="caretRight" color="#ffffff" size="32px" />
              </li>
              <li class="mobile-menu__service">
                <a href="#">Обслуживание и сервис</a>
                <Icon icon="caretRight" color="#ffffff" size="32px" />
              </li>
            </ul>
          </nav>
          <nav class="mobile-menu__nav">
            <ul class="mobile-menu__list">
              <li class="mobile-menu__item">
                <a href="#">О Дата-Центре</a>
              </li>
              <li class="mobile-menu__item">
                <a href="#">Связь & Контакты</a>
              </li>
            </ul>
            <ul class="mobile-menu__list">
              <li class="mobile-menu__item external-link">
                <a href="#">Ремонт оборудования</a>
                <Icon icon="externalLink" size="24px" color="#ffffff"/>
              </li>
              <li class="mobile-menu__item external-link">
                <a href="#">Восстановление данных</a>
                <Icon icon="externalLink" size="24px" color="#ffffff"/>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  @import "../scss/vars";

  .header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba(5, 6, 12, 0.87) 0.33%,
      rgba(5, 6, 12, 0) 100%
    );
  }
  .header__content {
    flex-basis: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
  .header__logo {
    display: inline;
    width: fit-content;
  }

  .header__menu {
    .menu__list {
      display: flex;
    }
    .menu__list a {
      line-height: 1.5rem; /* 150% */
    }
    .menu__item {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem 1.5rem;

      transition: all 0.1s;
    }
    .menu__item a:hover {
      color: $azure;
    }
    .menu__item--sub {
      position: relative;
      border-radius: 0.75rem;
      transition: all 0.07s;
    }
    .menu__item--sub > .arrowDown {
      transition: all 0.1s;
    }
    .menu__item--sub:hover {
      background-color: $surface-light;
    }
    .menu__item--sub:hover > a {
      color: $azure;
    }
    .menu__item--sub:hover > .arrowDown {
      fill: $azure;
      stroke: $azure;
    }
    .menu__item--sub:hover > .arrowDown {
      transform: rotate(-90deg);
    }
    // SHOW SUBMENU
    .menu__item--sub:hover > .submenu__list {
      visibility: visible;
      opacity: 1;
    }
    .submenu__list {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      // decorate space for correct hover show
      padding-top: 1.5rem;

      // HIDE SUBMENU
      opacity: 0;
      visibility: hidden;
    }
    .submenu__list-wrapper {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: $border-radius;
      background-color: $surface-light;
      box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.33);
    }
    .submenu__group-title {
      display: flex;
      padding: 1.25rem 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $stroke;
      color: $text-light-gray;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.25rem; /* 142.857% */
      text-transform: uppercase;
    }
    .submenu__item {
      width: 22rem;
      padding: 1.25rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-radius: 0.5rem;

      transition: all 0.1s;
    }
    .submenu__item > svg {
      flex-shrink: 0;
      opacity: 0;
      transition: all 0.1s;
    }
    .submenu__item:hover {
      background: #2e303c;
    }
    .submenu__item:hover a {
      color: $azure;
    }
    .submenu__item:hover > svg {
      opacity: 1;
    }
  }

  .burger {
    display: none;
  }
  @media (max-width: 1000px) {
    .header__menu {
      display: none;
    }

    .burger {
      display: block;
    }
  }
  @media (max-width: 480px) {
    .header {
      padding: 1.5rem 1.5rem;
    }
  }

  // MOBILE MENU
  .header.active .header__mobile-menu {
    top: 0;
    visibility: visible;
    opacity: 1;
  }
  .header .header__logo path {
    transition: all 0.6s;
  }
  .header.active .header__logo path {
    fill: #ffffffd8;
  }

  .strip div {
    height: 2px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    margin: 10px;
    transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 30px;
  }
  .strip div:nth-child(2) {
    width: 15px;
    margin-left: 25px;
  }
  .burger-strip div {
    /* margin: 10px auto; */
    transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .header.active .burger .burger-strip div:first-child {
    transform: translateY(10px) rotate(0deg) scaleX(1.5);
  }
  .header.active .burger .burger-strip div:nth-child(2) {
    opacity: 0;
  }
  .header.active .burger .burger-strip div:last-child {
    transform: translateY(-14px) rotate(90deg) scaleX(1.5);
  }
  .header.active .burger .burger-strip {
    transform: scale(0.7) rotate(45deg);
    transition: all 0.5s ease 0.1s;
  }

  .header__mobile-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: -990px;
    left: 0;
    width: 100%;
    max-height: 100vh;
    z-index: -1000;
    overflow-y: auto;
    padding: 10rem 2.5rem 7.5rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/mobile-menu-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.6s;
  }
  .mobile-menu__content {
    max-width: 1200px;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
  }
  .mobile-menu__services {
  }
  .mobile-menu__services-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .mobile-menu__service {
    align-self: stretch;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    padding: 1.125rem 0rem;

    border-bottom: 2px solid rgba(252, 252, 252, 0.7);
  }
  .mobile-menu__service a {
    font-family: $main-font-family;
    font-size: 2rem;
    line-height: 120%; /* 2.4rem */
    letter-spacing: -0.032rem;
  }
  .mobile-menu__nav {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
  }
  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
  }
  .mobile-menu__item a {
    font-size: 1.25rem;
  }
  .external-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @media (max-width: 880px) {
    .header__mobile-menu {
      padding: 8.75rem 2.5rem 4rem 2.5rem;
    }
    .mobile-menu__content {
      flex-direction: column;
      gap: 4rem;
    }
    .mobile-menu__nav {
      flex-direction: row;
      gap: 2.5rem;
      flex-wrap: wrap;
    }
    .mobile-menu__list {
      align-items: flex-start;
    }
  }
  @media (max-width: 480px) {
    .header__mobile-menu {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .mobile-menu__services-list {
      gap: 1.5rem;
    }
    .mobile-menu__service a {
      font-size: 1.75rem;
    }
    .mobile-menu__nav {
      gap: 4rem;
      flex-direction: column;
      align-items: flex-end;
    }
    .mobile-menu__list {
      align-items: flex-end;
    }
  }
</style>
