@font-face {
	font-family: 'Manrope';
  src: url("../fonts/Manrope-Regular.eot");
  src: 
  url('../fonts/Manrope-Regular.woff2') format('woff2'), 
  url("../fonts/Manrope-Regular.woff") format("woff"), 
  url("../fonts/Manrope-Regular.ttf") format("truetype"), 
  url("../fonts/Manrope-Regular.svg") format("svg");
	font-display: swap; 
  font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope';
  src: url("../fonts/Manrope-Medium.eot");
  src: 
  url('../fonts/Manrope-Medium.woff2') format('woff2'), 
  url("../fonts/Manrope-Medium.woff") format("woff"), 
  url("../fonts/Manrope-Medium.ttf") format("truetype"), 
  url("../fonts/Manrope-Medium.svg") format("svg");
	font-display: swap; 
  font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope';
  src: url("../fonts/Manrope-SemiBold.eot");
  src: 
  url('../fonts/Manrope-SemiBold.woff2') format('woff2'), 
  url("../fonts/Manrope-SemiBold.woff") format("woff"), 
  url("../fonts/Manrope-SemiBold.ttf") format("truetype"), 
  url("../fonts/Manrope-SemiBold.svg") format("svg");
	font-display: swap; 
  font-weight: 600;
	font-style: normal;
}
