@import "reset";
@import "vars";
@import "fonts";
@import "typography";
@import "global";
@import "includes";

.page-divider{
  width: 100%;
  height: 1px;
  background-color: $stroke;
}
// —————————————————————————— MAIN-HERO —————————————————————————— //
.main-hero {
  height: 60rem;
  
}
.main-hero__content {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 6.25rem;

  background-image: url("img/main-hero-server.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 485px, cover;
  background-position: right 12rem, 0 0;
}
.main-hero__title {
  max-width: 38.75rem;
  margin-bottom: 7.5rem;

  line-height: 120%;
  font-weight: 500;
  font-size: 5rem;
}

.main-hero__title span {
  background: $purple-azure-linear;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-hero__subtitle {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%;
}
.main-hero__offer-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

//  MAIN-HERO @MEDIA  //

@media (max-width: 1000px) {
  .main-hero__title {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  .main-hero {
    height: 920px;
  }
  .main-hero__title {
    font-size: 4.5rem;
  }
  .main-hero__subtitle {
    font-size: 1rem;
    line-height: 150%;
  }
}

@media (max-width: 580px) {
  .main-hero__title {
    font-size: 3.25rem;
  }
  .main-hero__content {
    padding-top: 10rem;
    padding-bottom: 4.7rem;
  }
  .main-hero {
    background-size: 385px, cover;
  }
}

@media (max-width: 480px) {
  .main-hero {
    height: 896px;
    background-size: 300px, cover;
  }
  .main-hero__title {
    font-size: 2.5rem;
  }
  .main-hero__subtitle {
    line-height: 140%;
  }
}

// —————————————————————————— NUMBERS —————————————————————————— //

.numbers {
  display: flex;
  gap: 2.5rem;

  background-image: url("img/atom-figures-1.png");  
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: left center;
  transition: all 0.3s;
}
.numbers__description {
  flex-grow: 1;
  flex-basis: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.numbers__description > p {
  margin-top: auto;
  max-width: 33rem;
}
.numbers__list {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.numbers__list div {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 110%; /* 3.85rem */
  letter-spacing: -0.056rem;
  text-transform: uppercase;

  margin-bottom: 1rem;
}

//  NUMBERS @MEDIA  //

@media (max-width: 1000px) {
  .numbers__list div {
    font-size: 2.5rem;
  }
  .numbers {
    background-position: left 80%;
  }
}
@media (max-width: 480px) {
  .numbers__list div {
    font-size: 2.5rem;
  }
  .numbers {
    background-position: left 7.5rem;
    flex-direction: column;
    gap: 3rem;
  }
  .numbers__description {
    gap: 12.5rem;
  }
  .numbers__list {
    gap: 2rem;
  }
  .numbers__list li {
    max-width: 9.75rem;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(50% - 1rem);
  }
}

// —————————————————————————— SERVICES LINK —————————————————————————— //

.services-links__list {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.services-links__item {
  border-bottom: 1px solid $stroke;
}
.services-links__link {
  display: block;
  margin-bottom: 2.5rem;
}
.link__header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.link__header h2 {
  flex-grow: 1;
  margin: 0;
  font-family: Manrope;
  font-size: clamp(1.5rem, 4vw + 0.4rem, 4rem);
  font-weight: 400;
  line-height: 110%; /* 4.4rem */
  letter-spacing: -0.064rem;
  text-transform: uppercase;

  color: $text-white;
  background: linear-gradient(to right, #8c34fa 0, #1ba7fa 50.26%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.4s ease;
}
.link__header svg {
  flex-shrink: 0;
}
.link__header svg {
  transition: all 0.4s ease;
}
.services-links__link:hover .link__header h2 {
  color: transparent;
}
.services-links__link:hover .link__header svg {
  transform: translateX(24px);
}
.link__description {
  text-transform: none;
  max-width: 37.5rem;
}

// —————————————————————————— CASES —————————————————————————— //

.cases__heading {
  margin-bottom: 6.5rem; //Spacing
  max-width: 27rem;
}
.cases__list {
  display: flex;
  margin-bottom: 6.5rem; //Spacing
  height: 30rem;
  gap: 1.5rem;
}
.case {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $border-radius;
  border: 1px solid $stroke;
}
@for $i from 1 through 3 {
  .case:nth-child(#{$i}) {
    background-image: url("img/case-bg-#{$i}.jpg");
  }
}
.case__title {
  align-self: flex-start;
  font-weight: 600;
}

//  CASES @MEDIA  //

@media screen and (max-width: 768px) {
  .cases__heading {
    margin-bottom: 5rem; //Spacing
  }
  .cases__list {
    margin-bottom: 5rem; //Spacing
  }
  .cases__list {
    flex-direction: column;
    height: 46rem;
  }
  .case {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .cases__heading {
    margin-bottom: 3rem; //Spacing
  }

  .cases__list {
    margin-bottom: 3rem; //Spacing
  }
  .cases__list {
    height: 39rem;
  }
  .case {
    padding: 1.5rem;
    height: 12rem;
  }
}
// —————————————————————————— PARTNERS —————————————————————————— //
.page__section.partners {
  overflow: hidden;
}
.partners__header {
  max-width: 27rem;
  margin-bottom: 6.5rem;
}
.partners__header h2{
  max-width: 20rem;
}
.partners__list {
  position: relative;
  display: flex;
  user-select: none;
  gap: 20px;
}
.partners__list:before,
.partners__list:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.partners__list:before {
  left: 0;
  background: linear-gradient(90deg, rgb(4, 5, 11) 0%, rgba(4, 5, 11, 0) 100%);
}
.partners__list:after {
  right: 0;
  background: linear-gradient(90deg, rgba(4, 5, 11, 0) 0%, rgb(4, 5, 11) 100%);
}
.partners__list .items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.partners__list .item {
  flex: 0 0 auto;
  width: 180px;
  height: 180px;
  counter-increment: item;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  transition: all 0.1s ease-in-out;

  background-image: url("img/partner-logo-01.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@for $i from 1 through 12 {
  .partners__list .item:nth-child(#{$i}) {
    background-image: url("img/partner-logo-#{$i}.png");
  }
}
.partners__list .marquee {
  animation: scroll 18s linear infinite;
  transition: all 1s;
}
.partners__list .reverce {
  animation-direction: reverse;
}
.perfscan {
  margin: 20px 0;
  text-align: center;
  bottom: 0;
  background: #fff;
  padding: 5px;
}
.perfscan hr {
  border: solid #999;
  border-width: 1px 0 0 0;
  max-width: 50%;
  margin: 0 auto 20px;
}
.perfscan a {
  color: #000;
  font-weight: bold;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

//  PARTNERS @MEDIA  //

@media screen and (min-width: 768px) {
  .partners__list .item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: $surface;
  }
  .partners__list:hover .marquee {
    animation-play-state: paused;
  }
}

@media screen and (max-width: 768px) {
  .partners__header {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .partners__header {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .partners__list .item {
    width: 120px;
    height: 120px;
  }
}