// background colors
$page-bg: #04050b;

// typography
$main-font-family: Manrope;

// text
$text-white: #fcfcfc;
$text-gray: #666;
$text-light-gray: #b3b3b3;
$text-black: #1a1a1a;

// main colors
$blue: #283dfa;
$azure: #1ba7fa;
$purple: #8c34fa;
$white: #fcfcfc;
$purple-azure-linear: linear-gradient(90deg, #861ffa 0%, #1ba7fa 100%);

// stroke colors
$stroke: #555765;

// surface colors
$surface: #0b0b12;
$surface-light: #23252e;

// borders
$border-radius: 12px;

// input
$error: #e05a5a;
$success: #439f6e;
$disabled: #7c80a6;
$focused: #f845fc;